*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Times;
}
.intro{
	background: rgb(117, 122, 142);
}
h1{
	color: rgb(226, 225, 225);
	font-weight: bold;
	transition: 0.5s;
	text-align: center;
}
h3{
	color:rgb(205, 199, 199);
}

button{
	border:none;
	border-radius: 8px;
	padding: 10px;
	background:rgb(126, 127, 134); 
	color:rgb(150, 35, 35);
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#454245;
}
footer{
	color:rgb(74, 66, 66);
	background-color:rgb(158, 152, 161);
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}
.im{
	width: 70vh;
	height: 70vh;
}
.action{
	text-align: center;
	text-decoration: underline;
	font-family: 'Roboto Slab', serif;
}

@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 40px;
	}
	.act{
		padding-bottom: 100px;
	}

}